<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Zibo's blog site">

  	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.min.css">
  	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  	<link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.fancybox.css" type="text/css" media="screen" />
  	<link href='http://fonts.googleapis.com/css?family=Russo+One|Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/sons-of-obsidian.css">
  	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/prettify.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
</head>
