<div class="social-media">

	<!--<h3>Follow me on:</h3>-->
	<img src="{{ site.baseurl }}/img/Follow-me.png" alt="follow me" class="follow-me">
			
	<ul>
		<li>
			<a href="https://www.facebook.com/ziboli25" target="_blank">
				<img src="{{ site.baseurl }}/img/facebook.png" alt="Facebook Icon" />
				<img src="{{ site.baseurl }}/img/facebook-text.png" alt="Facebook Text" />
			</a>
		</li>
		<li>
			<a href="https://twitter.com/ZiboLi25" target="_blank">	
				<img src="{{ site.baseurl }}/img/twitter.png" alt="Twitter Icon" />
				<img src="{{ site.baseurl }}/img/twitter-text.png" alt="Twitter Text" />
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/ziboli/" target="_blank">	
				<img src="{{ site.baseurl }}/img/linkedin.png" alt="LinkedIn Icon" />
				<img src="{{ site.baseurl }}/img/linkedin-text.png" alt="LinkedIn Text" />
			</a>
		</li>
		<li>
			<a href="https://github.com/zli25" target="_blank">	
				<img src="{{ site.baseurl }}/img/github.png" alt="GitHub Icon" />
				<img src="{{ site.baseurl }}/img/github-text.png" alt="GitHub Text" />
			</a>
		</li>
	</ul>

</div>